* {font-family: 'Trebuchet MS';
background-color: FEEBEB}

h1 {
	font-size: 34px;
	margin-bottom: 0px;
}
h2{
	font-size: 19px;
}
h3{
	font-size: 18px;
}
h4{
	margin-bottom: 0px;
}
p{
	margin-top: 0px;

}